<!DOCTYPE html>
<html>
<head>
    <title>Voting Form</title>
</head>
<body>
    <h1>Voting Form</h1>
    {% if message %}
        <p style="color:green">{{ message }}</p>
    {% endif %}
    {% if error %}
        <p style="color:red">{{ error }}</p>
    {% endif %}
    <form method="post">
        <label for="name">Nama:</label><br>
        <input type="text" id="name" name="name"><br><br>
        <label for="dob">Tanggal Lahir (format: yyyy-mm-dd):</label><br>
        <input type="text" id="dob" name="dob"><br><br>
        <label for="gender">Jenis Kelamin (M/F):</label><br>
        <input type="text" id="gender" name="gender"><br><br>
        <label for="voter_id">ID:</label><br>
        <input type="text" id="voter_id" name="voter_id"><br><br>
        <label for="paslon">Pilih Paslon:</label><br>
        <select id="paslon" name="paslon">
            <option value="Anie Baswedan & Cak imin">Anie Baswedan & Cak imin</option>
            <option value="Prabowo & Gibran">Prabowo & Gibran</option>
            <option value="Ganjar Pranowo & Mahfud M.D">Ganjar Pranowo & Mahfud M.D</option>
        </select><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>